body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #ccc;
}

/* Extra small devices (portrait phones, less than 576px)
   No media query since this is the default in Bootstrap */

.title {
    position: absolute;
    top: 33%;
    left: 0;
    width: 100%;
}

.section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.description {
    padding: 5px;
}

#header {
	position: relative;

    padding: 0px;
    margin: 0px;
}

#content {
    background: linear-gradient(#404f56, #694020);
}

#tagline {
    padding-bottom: 20px;
}

#video {
    padding-bottom: 60px;
}

.screenshot {
    padding: 0px;
}

a {
    color: inherit;
    font-style: italic;
}

a:hover {
    color: inherit;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .description {
        padding: 20px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .description {
        padding: 50px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}